<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spk.dispepsia">
    <!-- permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.BerandaDokter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.EditHasilDiagnosa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditLaporan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LaporanDiagnosa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HasilDiagnosa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditAturan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TambahAturan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Aturan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AkunPengguna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Diagnosa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditSolusi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TambahSolusi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Solusi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditGejala"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TambahGejala"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Gejala"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditJenisPenyakit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TambahJenisPenyakit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.JenisPenyakit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.UpdateProfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TambahUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProfileUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BerandaAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BerandaUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Tentang"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>